---
import Default from '../layouts/default.astro'
import Player from '../components/Player.astro'
import Quotes from '../components/Quotes.astro'
---

<Default title="Welcome to Astro.">
  <main>
    <section class="banner card">
      <div class="left">
        <img src="icon/thk_logo.svg" alt="" />
        <h1 class="font-meta">1 nicer scheiß (sagt Laura)</h1>
      </div>
      <div class="right"><img src="icon/menu.svg" alt="" /></div>
    </section>

    <section class="content">
      <Player />
      <Quotes />
    </section>

    <!-- <Card
        href='https://docs.astro.build/'
        title='Documentation'
        body='Learn how Astro works and explore the official API docs.'
      /> -->
  </main>
</Default>

<style lang="scss">
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100rem;
  }

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner {
    .left {
      display: flex;
      gap: 1.25rem;
    }
  }
</style>
